<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astrologer Vipul Barot - Cosmic Wisdom</title>
    <link rel="stylesheet" href="/css/boilerplate.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <!-- <link rel="stylesheet" href="/css/footer1.css"> -->
</head>
<body>
    <div class="hamburger" id="hamburger"><span></span><span></span><span></span></div>
    <nav class="navbar" id="navbar">
        <div class="nav-container">
            <div class="nav-logo"> Vipul Barot </div>
            <ul class="nav-menu" id="nav-menu">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
            </ul>
        </div>
    </nav>
    <div class="cursor"></div>
    <div id="scroll-progress"></div>
    <div class="stars" id="stars"></div>
    <script src="/js/header.js"></script>
